
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Livros</title>
</head>
<body>
    <h1>Lista de Livros</h1>

    <ul>
        {% for livro in livros %}
            <li>
                <a href=#><strong>Título:</strong> {{ livro.titulo }}</a><br>
                                <strong>Autor(es):</strong>
                {% for autor in livro.autor_many.all %}
                    <a href="{% url 'author_detail' autor.id %}">
                        {{ autor.name }}
                    </a>{% if not forloop.last %}, {% endif %}
                {% empty %}
                    Nenhum autor cadastrado.
                {% endfor %}
                <br>
                <a href=#><strong>Ano:</strong> {{ livro.ano }}</a>
            </li>
            <hr>
        {% empty %}
            <li>Nenhum livro cadastrado.</li>
        {% endfor %}
    </ul>
</body>
</html>